# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vs/*
/Debug/*
/Release/*
/x64/Debug/*
/x64/Release/*
/raytracer/Debug/*
/raytracer/Release/*
/raytracer/x64/Debug/*
/raytracer/x64/Release/*
/SDL2-2.0.9/*

*.ppm